html {
	background-color: black;
	overflow: hidden;
}

canvas {
	background-color: black;
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: '8bit';
	src: url('../fonts/8bit.TTF');
}

div {
	position: absolute;
	font-size: 200%;
	font-family: '8bit';
	color: white;
	text-align: center;
	margin-left: 47.5%
}

#lives {
	margin-top: 49%;
}